<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Board List</title>
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="stylesheet" th:href="@{/css/list.css}">
</head>
<body>
<!-- 헤더 포함 -->
<div th:replace="~{/layout/header :: header}"></div>

<div class="content">
    <div class="board-title">게시판 목록</div>

    <div class="sorting-options">
        <input type="radio" id="sort-newest" name="sort-option" value="newest" checked>
        <label for="sort-newest">최신순</label>

        <input type="radio" id="sort-oldest" name="sort-option" value="oldest" >
        <label for="sort-oldest">오래된 순</label>

        <input type="radio" id="sort-views" name="sort-option" value="views">
        <label for="sort-views">조회순</label>
    </div>
    <label>
        <select name="search-type" id="type">
            <option value="title">제목</option>
            <option value="content">본문</option>
        </select>
    </label>
    <label>
        <input type="text" name="search">
        <button class="search-btn" type="button" onclick="saveKeyword()">검색</button>
    </label>

    <div class="write-button-container">
        <a th:href="@{/board/write}" class="btn-write" sec:authorize="isAuthenticated()">글 작성</a>
    </div>
    <table class="board-table table">
        <thead>
        <tr>
            <th class="number">번호</th>
            <th class="title">제목</th>
            <th class="writer">작성자</th>
            <th class="views">조회수</th>
            <th class="date">작성일</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    <ul class="pagination">

    </ul>
</div>

<!-- 푸터 포함 -->
<div  class="footer" style="position: fixed; bottom: 0">
    <div class="footer" th:replace="~{/layout/footer :: footer}"></div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    const pageSize = 10;
    let sortOption = '';
    let search = null;
    let searchType = null;

    // 처음 페이지가 로드 될 때 실행될 함수
    window.onload = function(){
        searchType = $('select[name="search-type"]').val();
        search = $('input[name="search"]').val();
        $('input[id="sort-newest"]').prop('checked', true);

        getList(1);
    }

    // 날짜 포맷
    function formatDate(dateString) {
        const now = new Date();
        const commentDate = new Date(dateString); // 문자열을 Date 객체로 변환

        const nowYear = now.getFullYear();
        const nowMonth = now.getMonth();
        const nowDate = now.getDate();

        const commentYear = commentDate.getFullYear();
        const commentMonth = commentDate.getMonth();
        const commentDateDate = commentDate.getDate();

        let displayText = "";

        // 년, 월, 일이 모두 같은 경우 "오늘"로 표시
        // if (nowYear === commentYear && nowMonth === commentMonth && nowDate === commentDateDate) {
        //     displayText = "오늘";
        // } else {
        // 그 외의 경우, 정해진 포맷으로 표시
        const yy = commentYear.toString().slice(-2); // 마지막 두 자리를 가지고 옴.
        const M = commentMonth + 1; // 월은 0부터 시작하므로 1을 더해줍니다.
        const d = commentDateDate;
        const HH = commentDate.getHours().toString().padStart(2, '0');
        const mm = commentDate.getMinutes().toString().padStart(2, '0'); // 두자리 수 일 때 앞에 0을 붙임.

        displayText = `${yy}년 ${M}월 ${d}일 ${HH}시 ${mm}분`;
        // }
        return displayText;
    }

    function getList(page){
        $.ajax({
            method : 'get',
            url : '/rest',
            data : {
                page : page,
                size : pageSize,
                sort : sortOption,
                searchType : searchType,
                search : search
            },
            success:function (data){
                // 리스트 뿌려주는 함수.
                renderBoard(data.content);
                renderPagination(data);
            },
            error:function (){
                console.error('실패')
            }
        })
    };

    // 라디오 버튼 변경 이벤트
    $('input[name="sort-option"]').change(function (){
        sortOption = $(this).val();
        getList(1);
    })

    // 리스트 데이터를 받아서 랜더링 하는 함수.
    function renderBoard(boards){
        const boardContainer = $('.table tbody');
        boardContainer.empty();

        boards.forEach(function(board) {
            let fileString = board.fileCount > 0 ? `  [첨부파일:${board.fileCount}]` : '';

            let boardRow = `<tr><td>${board.boardId}</td>
            <td><a href="/board/detail/${board.boardId}">${board.boardTitle}${fileString}</a></td>
            <td>${board.name}</td>
            <td>${board.boardViews}</td>
            <td>${formatDate(board.boardRegisterDate)}</td></tr>`;
            boardContainer.append(boardRow);
        });
    }

    // 페이징 처리 영역
    function renderPagination(pagination) {
        const paginationContainer = $('.pagination');
        paginationContainer.empty();

        // 이전 버튼
        const prevDisabled = pagination.currentPage === 1 ? 'disabled' : '';
        paginationContainer.append(`
            <li class="page-item ${prevDisabled}">
                <a class="page-link" href="#" aria-label="Previous" data-page="${pagination.currentPage - 1}">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        `);

        for (let i = pagination.startPage; i <= pagination.endPage; i++) {
                const activeClass = pagination.currentPage === i ? 'active' : '';
                paginationContainer.append(`
            <li class="page-item ${activeClass}">
                <a class="page-link" href="#" data-page="${i}">${i}</a>
            </li>
        `);
        }

        const nextDisabled = pagination.currentPage === pagination.totalPages ? 'disabled' : '';
        paginationContainer.append(`
            <li class="page-item ${nextDisabled}">
                <a class="page-link" href="#" aria-label="Next" data-page="${pagination.currentPage + 1}">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        `);

        // 페이지 클릭했을 때 실행할 함수.
        $('.page-link').click(function(event) {
            event.preventDefault();
            const selectedPage = $(this).data('page');
            getList(selectedPage);
        });
    }

    function saveKeyword(){
        searchType = $('select[name="search-type"]').val();
        search = $('input[name="search"]').val();
        getList(1);
    }

</script>
</html>