<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>호근커뮤니티 - 게시글 작성</title>
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="stylesheet" th:href="@{/css/write.css}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-lite.min.css" rel="stylesheet">
</head>
<body>

<div th:replace="~{/layout/header :: header}"></div>

<div id="main" class="container">
    <header class="head">
        <h1 class="fw-bold">호근 커뮤니티</h1>
        <p>게시글 작성</p>
    </header>
    <div class="mb-3">
        <a th:href="@{/board/list}" class="btn-secondary">목록 보기</a>
    </div>
    <form method="post" id="myForm" th:action="@{/board/write}" enctype="multipart/form-data" th:object="${board}">
        <div class="mb-3">
            <label for="boardTitle" class="form-label">제목</label>
            <input type="text" class="form-control" id="boardTitle" th:field="*{boardTitle}"
                   placeholder="Title">
        </div>
        <div class="mb-3">
            <label for="boardContent" class="form-label">내용</label>
            <textarea class="form-control" id="boardContent" rows="6"
                      placeholder="Content" style="resize: none;" th:field="*{boardContent}"></textarea>
        </div>
        <div class="mb-3">
            <label for="upload" class="form-label">첨부파일</label>
            <input type="file" class="form-control" id="upload" name="boardfiles" multiple>
        </div>
        <div class="d-grid">
            <button type="submit" class="btn">등록</button>
        </div>
<!--    작성자 정보를 가지고 오는 첫번째 방법    -->
<!--    로그인이 되어있어야지만 글 작성이 가능.    -->
<!--    DTO 담아서 넘기지 말고 따로 넘기자.    -->

<!--    지금은 모델에 담아서 넘기는게 아니다 name 속성으로 넘기는 중    -->
        <input type="hidden" th:value="${#authentication.getPrincipal().getProviderId()}" name="providerId">
    </form>
</div>

<!--<div th:replace="~{/layout/footer :: footer}"></div>-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-lite.min.js"></script>

<script>

    $(document).ready(function() {
        initializeSummernote();
    });

    function initializeSummernote() {
        $('#boardContent').summernote({
            tabsize: 2,
            placeholder: '내용을 입력하세요...',
            // callbacks: {
            //     onImageUpload: function(files) {
            //         for (let i = 0; i < files.length; i++) {
            //             uploadImage(files[i], this);
            //         }
            //     }
            // }
        });
    }

    // function uploadImage(file) {
    //     let data = new FormData();
    //     data.append("file", file);
    //     $.ajax({
    //         url: '/upload/image',
    //         cache: false, // 캐시 데이터 사용하지 않음.
    //         contentType: false, // 파일 업로드 시, 헤더가 파일로 자동으로 설정되게끔.
    //         processData: false, // 문자열로 바뀌지 않게끔 하는 설정
    //         enctype : 'multipart/form-data',
    //         data: data,
    //         method: "post",
    //         success: function(url) {
    //             console.log(url)
    //             insertImageToSummernote(url);
    //         },
    //         error: function(data) {
    //             console.error(data);
    //         }
    //     });
    // }
    //
    // function insertImageToSummernote(url) {
    //     const img = document.createElement('img');
    //     img.src = url;
    //     img.style.width = '100%';
    //     $('#boardContent').summernote('insertNode', img);
    // }



</script>



</body>
</html>
